<!DOCTYPE html>
<html>
<head>
    <title>Leer</title>
</head>
<body>
    <center>
    <h1>Usuarios</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario[0] }}</td>
            <td>{{ usuario[1] }}</td>
            <td>{{ usuario[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('crear') }}">Crear nuevo usuario</a>
</center>
</body>
</html>
